In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [24]:
births_total = 3805375 # 2000-2021
births_yearly = births_total/(22)
births_daily = births_yearly/(365)

In [10]:
df_deaths = pd.read_csv('deaths_sp.csv', delimiter = ';')

In [25]:
births_daily

473.8947696139477

In [30]:
df_deaths = pd.read_csv('deaths_sp.csv', delimiter = ';')

In [31]:
df_deaths

,Municipio,Menor 1 ano,1 a 4 anos,5 a 9 anos,10 a 14 anos,15 a 19 anos,20 a 29 anos,30 a 39 anos,40 a 49 anos,50 a 59 anos,60 a 69 anos,70 a 79 anos,80 anos e mais,Idade ignorada,Total
0,355030 SAO PAULO,47322,7123,3702,4940,21638,60196,74923,123079,200043,272227,333485,463056,4190,1615924
1,Total,47322,7123,3702,4940,21638,60196,74923,123079,200043,272227,333485,463056,4190,1615924

In [37]:
l_vec = np.array([5,5,5,5,10,10,10,10,10,10,20])

In [39]:
len(l_vec)

11

In [10]:
df_deaths = pd.read_csv('deaths_sp.csv', delimiter = ';')

In [32]:
deaths_total = np.array([47322+7123,3702,4940,21638,60196,74923,123079,200043,272227,333485,463056])
deaths_yearly = deaths_total/(22)
deaths_daily = deaths_yearly/(365)

In [36]:
deaths_daily

array([ 6.78019925,  0.46102117,  0.61519303,  2.69464508,  7.49638854,
        9.33038605, 15.32739726, 24.91195517, 33.90124533, 41.52988792,
       57.66575342])

In [34]:
len(deaths_daily)

11

## Population pyramid

In [82]:
df_pyramid = pd.read_csv('pop_pyramid_355030.csv', delimiter = ';')

In [83]:
df_pyramid = df_pyramid.drop(df_pyramid.columns[0],axis=1)

In [84]:
df_pyramid.drop(df_pyramid.tail(1).index,inplace=True)

In [85]:
df_pyramid

,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,813774,805160,797458,789221,785149,786151,787457,789398,795045,797644,795839,795350,792797,785656,779817
1,883132,862695,843881,829201,812265,800196,791719,784326,776648,772911,774259,775886,778181,784190,787114
2,862269,873278,880126,879420,878949,868956,854946,842617,834429,817514,805589,797279,790079,782675,779315
3,903321,880650,863348,853843,859262,871212,886366,898948,905187,904674,894418,880005,867374,859068,841885
4,2097734,2103671,2102531,2094535,2064535,2025738,1981855,1937934,1897157,1880057,1865477,1852840,1840611,1827398,1832490
5,1836048,1863014,1892613,1924720,1953963,1985463,2016924,2044988,2067184,2073835,2075468,2071238,2060804,2044135,2015873
6,1538845,1553493,1565961,1576878,1594969,1611819,1628664,1647197,1668461,1692987,1720140,1749690,1781500,1815242,1845307
7,1128039,1163826,1198623,1232271,1260153,1286782,1311886,1335040,1356023,1376993,1396012,1413217,1428988,1443722,1463257
8,657244,680395,706366,735188,767663,802480,839059,876552,914356,948621,982987,1017048,1050511,1083124,1110842
9,385809,394862,404223,413760,423657,434058,445474,458612,473927,492877,513814,536842,562093,589507,618561
10,168135,179727,193757,207217,216452,225709,235056,244673,254620,264803,275884,287471,299085,310515,321911

In [86]:
m_pyramid = df_pyramid.to_numpy()

In [87]:
m_pyramid.shape

(11, 15)

In [88]:
pop_pyramid_avg = m_pyramid.sum(axis = 1)

In [89]:
pop_pyramid_avg = pop_pyramid_avg/15

In [90]:
pop_pyramid_avg

array([ 793061.06666667,  803773.6       ,  836496.06666667,
        877970.73333333, 1960304.2       , 1995084.66666667,
       1666076.86666667, 1319655.46666667,  878162.4       ,
        476538.4       ,  245667.66666667])